<center><img src="https://res.cloudinary.com/teepublic/image/private/s--QGmjn0Qd--/t_Preview/b_rgb:fefeff,c_limit,f_jpg,h_630,q_90,w_630/v1501533190/production/designs/1779865_1.jpg"/></center>

<h1>Eat-Da-Burger!</h1>

<div class="container">
  <div class="row">

    <div class="col-md-6">
        <div id="good-burgers"></div>  
        <ul id="good">
          {{#each burgers}} 
            {{#unless devoured}} 
              <li>
                {{burger_name}}
                <button class="change-devour" data-id="{{id}}">
                Devour  
                </button> 
              </li> 
            {{/unless}}
          {{/each}}
        </ul>
    </div>

    <div class="col-md-6">
        <div id="devoured-burgers"></div>
        <ul id="devoured">
          {{#each burgers}}
            {{#if devoured}}
                          <li>
                {{burger_name}}
                <button class="change-devour" data-id="{{id}}">
                Undevour 
                </button> 
              </li>
            {{/if}}
          {{/each}}
        </ul>
    </div>

  </div>
</div>

<h2>Add a burger</h2>
<form class="create-form">

  <div class="form-group">
    <label for="ca">burger Name:</label>
    <input type="text" id="ca" name="name">
  </div>

  <button type="submit">Add burger</button>
</form>
